  before_script:
   - echo "Execute scripts which are required to bootstrap the application. !"

  after_script:
   - echo "Clean up activity can be done here !."
  image: docker:latest

  cache:
   paths:
   - /root/.m2/repository

  stages:
   - build
   - deploy

  build:
   stage: build
   image: maven:3.3.9-jdk-8
   script:
   - mvn clean package


  deploy_dev:
   stage: deploy
   image: ruby:2.3
   script:
   - apt-get update -qy
   - apt-get install -y ruby-dev
   - gem install dpl
   - dpl --provider=heroku --app=flyway-springboot-dev  --api-key=$HEROKU_API_KEY
   environment:
   name: dev
   url: https://flyway-springboot-dev.herokuapp.com

   only:
   - master
   tags:
   - docker
